USE [TMSystem2]
GO
/****** Object:  Table [dbo].[DepartmentMaster]    Script Date: 04-11-2025 11:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Department] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistrictMaster]    Script Date: 04-11-2025 11:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SId] [int] NOT NULL,
	[DistrictName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04-11-2025 11:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EName] [nvarchar](200) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[DOB] [datetime] NULL,
	[DOJ] [datetime] NULL,
	[SId] [int] NULL,
	[DId] [int] NULL,
	[DeptId] [int] NULL,
	[ImgPath] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[Rating] [int] NULL,
	[Salary] [int] NULL,
 CONSTRAINT [PK__Employee__3214EC07A60CF997] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateMaster]    Script Date: 04-11-2025 11:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DepartmentMaster] ON 

INSERT [dbo].[DepartmentMaster] ([Id], [Department]) VALUES (1, N'Information Technology')
INSERT [dbo].[DepartmentMaster] ([Id], [Department]) VALUES (2, N'Accounts')
INSERT [dbo].[DepartmentMaster] ([Id], [Department]) VALUES (3, N'HR')
SET IDENTITY_INSERT [dbo].[DepartmentMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[DistrictMaster] ON 

INSERT [dbo].[DistrictMaster] ([Id], [SId], [DistrictName]) VALUES (1, 1, N'Dimapur')
INSERT [dbo].[DistrictMaster] ([Id], [SId], [DistrictName]) VALUES (2, 1, N'Kohima')
INSERT [dbo].[DistrictMaster] ([Id], [SId], [DistrictName]) VALUES (3, 2, N'Golaghat')
SET IDENTITY_INSERT [dbo].[DistrictMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [EName], [Gender], [DOB], [DOJ], [SId], [DId], [DeptId], [ImgPath], [IsActive], [Rating], [Salary]) VALUES (1, N'Sonakshi Sharma', N'Female', CAST(N'2002-09-12T00:00:00.000' AS DateTime), CAST(N'2022-04-02T00:00:00.000' AS DateTime), 2, 3, 3, N'd58904_417testi_Prabhleen-Pahwa.jpg', 1, 4, 40000)
INSERT [dbo].[Employees] ([Id], [EName], [Gender], [DOB], [DOJ], [SId], [DId], [DeptId], [ImgPath], [IsActive], [Rating], [Salary]) VALUES (2, N'Avantika Bajaj', N'Female', CAST(N'1996-05-02T00:00:00.000' AS DateTime), CAST(N'2023-02-02T00:00:00.000' AS DateTime), 2, 3, 2, N'484ed3_423testi_Sakina-Ali.jpg', 1, 3, 60000)
INSERT [dbo].[Employees] ([Id], [EName], [Gender], [DOB], [DOJ], [SId], [DId], [DeptId], [ImgPath], [IsActive], [Rating], [Salary]) VALUES (4, N'Aniket Kashyap', N'Male', CAST(N'2002-02-12T00:00:00.000' AS DateTime), CAST(N'2023-03-02T00:00:00.000' AS DateTime), 1, 1, 2, N'81442c_422testi_Abdeali-Abdulla.jpg', 1, 3, 40000)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[StateMaster] ON 

INSERT [dbo].[StateMaster] ([Id], [StateName]) VALUES (1, N'Nagaland')
INSERT [dbo].[StateMaster] ([Id], [StateName]) VALUES (2, N'Assam')
INSERT [dbo].[StateMaster] ([Id], [StateName]) VALUES (3, N'Delhi')
SET IDENTITY_INSERT [dbo].[StateMaster] OFF
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_Salary]  DEFAULT ((0)) FOR [Salary]
GO
ALTER TABLE [dbo].[DistrictMaster]  WITH CHECK ADD  CONSTRAINT [FK_DistrictMaster_StateMaster] FOREIGN KEY([SId])
REFERENCES [dbo].[StateMaster] ([Id])
GO
ALTER TABLE [dbo].[DistrictMaster] CHECK CONSTRAINT [FK_DistrictMaster_StateMaster]
GO
